@charset "UTF-08";

body {
    background-color: rgba(76, 0, 130, 0.349);
}

div#inicio {
    background-color: rgb(255, 255, 255);
    height: 600px;
    
}

div#inicio > h1 {
    position: absolute;
    font-size: 3em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -300%);
}

